---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" description="About Wes Rogers">
  <article class="wrapper">
    <h1>About</h1>
    <p>Hi, I'm Wes.</p>
    <p>I love writing elegant, efficient, and sensible code that is mirrored with
    functional and intuitive design. My work is best paired with a UX Designer as I
    love bringing life into human-centered designs.</p>
    <p>I have been writing software and designing websites since the early 2000s. I
    became a manager of engineers around 2014 and have been practicing that
    discipline now for over 10 years. Alongside that, I work on projects at home to
    keep my skills fresh.</p>
    <p>Here, you'll find a multitude of musings ranging from the technical to the
    frivolous. You'll also occasionally find music that I make here as well.</p>
    <p><a href="/assets/Wes Rogers.pdf">Download a copy of my resume</a></p>
    <img src="/assets/me.jpg" alt="A picture of me smiling and holding a coffee mug that says 'Poe me a cup'" />
  </article>
</BaseLayout>
